.button {
    margin: 5px auto;
    padding: 5px 20px;
    background-color: #e4f0f5;
    border: 1px solid #3d7e9a;
    border-radius: 4px;
}

.next {
    margin-left: 10px;
}

.questionTitle {
    display: block;
    background-color: #E4EDF6;
    border-bottom: 1px solid #ccc;
    padding: 6px;
    font-weight: bold;
}

.footerButtonContainer {
    border-top: 1px solid #ccc;
    padding: 5px 10px;
}

.Question-wrapper {
    border: 1px solid #ccc;
    height: calc(100vh - 76px);
}

.answer input [type="radio"] {
    display: inline-block;
}

.answer p {
    display: inline-block;
    margin-left: 10px;
}

.answer ul li {
    align-items: stretch;
    display: flex;
}

.question,
.answer {
    padding: 10px 10px
}

pre {
    display: inline-block;
    background-color: transparent;
    border: none;
    border-radius: none;
}

.quiz {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.footerMainContainer {
    position: absolute;
    bottom: 0;
}

.row.userDetailbox {
    text-align: center;
}

label {
    font-weight: 400;
}

.option_list {
    padding: 0px;
}

ul.option_list li input {
    margin-right: 10px;
}

.question p {
    padding: 0px;
}