<div class="container-fluid timer"> <span class="alert alert-success"> {{minutes}}:{{seconds}}</span></div>
<form>
  <div class="container Question-wrapper">
    <div class="quiz" *ngFor="let q of questions; let  i = index;">
      <div class="question">
        <P><span>{{i+1}}) </span>{{q.q_text}} </P>
      </div>
      
      <div class="answer row">
        <ul class="col-md-6 option_list" *ngFor="let option of q.options; let idx = index;">
          <input type="radio" [checked]="idx === q.answer" [value]="q.answer" name="{{q._id}}" (click)="getAnswer(q, i, idx)"> {{option.value}}<br>
        </ul>
      </div>
    </div>
    <div class="prev_next" id="pagination">
      <button (click)="getNextQuestion()" class="prev btn-warning">Prev</button>
      <button (click)="getPrevQuestion()" class="Next btn-warning">Next</button>
      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
    </div>
    <div class="save_submit" align="center">
    <button type="submit" class="btn btn-success pull-right " (click)="goto_quiz_result()">SUBMIT TEST</button>
  </div>
  </div>
</form>