<div class="container-fluid timer"> <span class="alert alert-success"> {{minutes}}:{{seconds}}</span></div>
<form>
  <div class="container Question-wrapper">
    <div class="quiz" *ngFor="let q of activeQuestion; let  i = index;">
      <div class="question">
        <pre  class="code-section"><span>{{activeQuestionNumber}}. </span>{{q.question.text}} </pre>
        <ngx-monaco-editor name="code" [ngClass]="{'hidden': !q.question.hasCode}" [options]="editorOption" class="form-control" [(ngModel)]="q.question.code"></ngx-monaco-editor>
      </div>
      
      <div class="answer row ">
        <ul class="col-md-12 option_list" *ngFor="let option of q.options; let idx = index;">
          <input type="radio" [checked]="idx === q.answer" [value]="q.answer" name="{{q._id}}" (click)="getAnswer(q, i, idx)">
          <pre appBlockCopyPaste class="code-section code-section-options">{{option.value}}</pre>
        </ul>
      </div>
    </div>
    <div class="prev_next" id="pagination">
      
    </div>
    <div class="save_submit" align="center">
        <button [disabled]="activeQuestionNumber <=1" (click)="getPrevQuestion()" class="next btn-warning">Prev</button>
        <button [disabled]="activeQuestionNumber === noOfQuizs" (click)="getNextQuestion()" class="prev btn-warning">Next</button>
    <button type="submit" class="btn btn-success pull-right " (click)="goto_quiz_result()">SUBMIT TEST</button>
  </div>
  </div>
</form>