<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="title_heading"> <img src="/assets/img/GSPANN_logo.png" alt="">Online Test</h3>
        </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <!-- Nav tabs -->
        <div class="card">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Exam
                Details</a></li>
          </ul>
  
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
              <div class="row quizStats">
                  <div *ngIf="examDetails.candidateData" class="col-md-12">Candidate Email: {{examDetails.candidateData.email}}<span class="pull-right">Exam Date: {{examDetails.candidateData.submitedOn|date:'dd MMM yyyy hh:mm a'  }}</span></div>
                  <div *ngIf="examDetails.candidateData && examDetails.candidateData.contact" class="col-md-12">Contact No: {{examDetails.candidateData.contact}}</div>
                  <div *ngIf="examDetails.candidateData" class="col-md-6">Exam Score: {{examDetails.candidateData.score}}</div>
                  <div class="col-md-6 text-right">Question(s) Attempted: {{examDetails.candidateData.testData.length}}</div>
                  <div *ngIf="examDetails.candidateData" class="col-md-12">Total Questions: {{examDetails.candidateData.totalQuestions || 15}}</div>
                <!-- display table for listing questions -->
                <div class="col-md-12">
                  <table class="table table-bordered table-responsive">
                    <tr>
                      <th>Question</th>
                      <th>Candidate Answer</th>
                      <th>Correct Answer</th>
                    </tr>
                    <tr *ngFor="let quiz of examDetails.candidateData.testData| paginate: { itemsPerPage: 10, currentPage: p }">
                        <td>{{quiz.question.question.text}}</td>
                        <td *ngIf="quiz.question.q_type!=='coding'">{{quiz.question.options[quiz.question.answer] ? quiz.question.options[quiz.question.answer].value: ""}}</td>
                        <td *ngIf="quiz.question.q_type==='coding'">
                          <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default btn-sm" (click)=viewAnswerCode(quiz.question.ansewerCode)>
                            <span class="glyphicon glyphicon-eye-open"></span> View Answer
                          </button>
                        </td>
                        <td><span *ngFor="let option of quiz.question.options">{{ option.isCorrect === true ? option.value : ""}}</span> </td>
                      </tr>
                  </table>
                </div>
              </div>
              <div class="col-md-12 text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="userDetailbox text-center">
            <div class="imgbox">
              <img src="/assets/img/user.png" alt="" srcset="">
            </div>
            <div class="DetailBox">
              <p>Hello Admin</p>
            </div>
            <a [routerLink]="['/admin']">
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-log-out"></span> Log out
              </button>
            </a>               
        </div>  
      </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Candidate Answer</h4>
        </div>
        <div class="modal-body">
          <pre>{{answerCode}}</pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>