.btn-center{text-align:center}
.checked {
    color: orange;
}
.correct-check{
    display: block;
    width: 20px;
    height: 20px;
}
.correct-check:first-child{
    margin-top: 30px;
}
.action-option{ margin-left:15px;}
.form-control.ng-touched.ng-invalid, .is-invalid{
    border: 1px solid red;
}
.remove-option{
    margin-top: 25px;
}